# Ignore Gradle Folders
gradle
.gradle

# Ignore Gradle Build Info
build.gradle

# Ignore Gradle Start Files
gradlew
gradlew.bat

# Ignore Logs
*.log
*.gz

# Ignore Idea Project Files
*.iml
*.ipr
*.iws

eclipse